<!-- <mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button> -->
<mat-toolbar>Retornos da api</mat-toolbar>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Posts"><app-posts></app-posts></mat-tab>
  <mat-tab label="Albums"><app-albums></app-albums></mat-tab>
  <mat-tab label="To-dos"><app-todos></app-todos></mat-tab>
</mat-tab-group>
